# Phase 2: Data Cleaning

**Project**: Customer Purchase Behavior Analysis  
**Phase**: 2 - Data Cleaning  
**Date**: November 7, 2025  

---

## Objective
Clean the dataset based on findings from data exploration:
- Handle 2 missing values in Satisfaction Level
- Verify no duplicates (already confirmed)
- Standardize data formats
- Prepare clean dataset for feature engineering

## Key Findings from Exploration:
- ‚úÖ 350 records, 11 columns
- ‚úÖ 2 missing values in Satisfaction Level (0.57%)
- ‚úÖ No duplicates
- ‚úÖ No outliers detected
- ‚úÖ Good data quality overall!

## 1. Setup and Load Data

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')

# Display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

print("‚úÖ Libraries imported successfully!")

‚úÖ Libraries imported successfully!

In [3]:
# Load dataset
DATA_PATH = Path('../dataset/E-commerce Customer Behavior - Sheet1.csv')
df = pd.read_csv(DATA_PATH)

print(f"‚úÖ Dataset loaded: {df.shape[0]} rows, {df.shape[1]} columns")
print(f"\nInitial data quality:")
print(f"Missing values: {df.isnull().sum().sum()}")
print(f"Duplicates: {df.duplicated().sum()}")

‚úÖ Dataset loaded: 350 rows, 11 columns

Initial data quality:
Missing values: 2
Duplicates: 0

## 2. Handle Missing Values

**Issue**: 2 missing values in 'Satisfaction Level' column

In [4]:
# Check missing values in detail
print("Missing values by column:")
print(df.isnull().sum()[df.isnull().sum() > 0])

# Find rows with missing Satisfaction Level
print("\nRows with missing Satisfaction Level:")
print(df[df['Satisfaction Level'].isnull()][['Customer ID', 'Total Spend', 'Average Rating', 'Satisfaction Level']])

Missing values by column:
Satisfaction Level    2
dtype: int64

Rows with missing Satisfaction Level:
     Customer ID  Total Spend  Average Rating Satisfaction Level
71           172       420.80            3.10                NaN
143          244       430.80            3.40                NaN

In [5]:
# Check current distribution of Satisfaction Level
print("Current Satisfaction Level distribution:")
print(df['Satisfaction Level'].value_counts())
print("\nProportions:")
print(df['Satisfaction Level'].value_counts(normalize=True))

Current Satisfaction Level distribution:
Satisfaction Level
Satisfied      125
Unsatisfied    116
Neutral        107
Name: count, dtype: int64

Proportions:
Satisfaction Level
Satisfied     0.36
Unsatisfied   0.33
Neutral       0.31
Name: proportion, dtype: float64

In [6]:
# Strategy: Fill with mode (most common value) since only 2 missing values
mode_satisfaction = df['Satisfaction Level'].mode()[0]
print(f"Mode (most common value): {mode_satisfaction}")

# Fill missing values
df['Satisfaction Level'].fillna(mode_satisfaction, inplace=True)

# Verify
print(f"\n‚úÖ Missing values after cleaning: {df['Satisfaction Level'].isnull().sum()}")

Mode (most common value): Satisfied

‚úÖ Missing values after cleaning: 0

## 3. Verify Data Types

In [7]:
# Check data types
print("Current data types:")
print(df.dtypes)
print("\nData looks good! All types are appropriate.")

Current data types:
Customer ID                   int64
Gender                       object
Age                           int64
City                         object
Membership Type              object
Total Spend                 float64
Items Purchased               int64
Average Rating              float64
Discount Applied               bool
Days Since Last Purchase      int64
Satisfaction Level           object
dtype: object

Data looks good! All types are appropriate.

## 4. Standardize Column Names

In [8]:
# Create snake_case column names for easier coding
df_clean = df.copy()

# Rename columns to snake_case
df_clean.columns = (
    df_clean.columns
    .str.lower()
    .str.replace(' ', '_')
)

print("Original columns:")
print(df.columns.tolist())
print("\nStandardized columns:")
print(df_clean.columns.tolist())

Original columns:
['Customer ID', 'Gender', 'Age', 'City', 'Membership Type', 'Total Spend', 'Items Purchased', 'Average Rating', 'Discount Applied', 'Days Since Last Purchase', 'Satisfaction Level']

Standardized columns:
['customer_id', 'gender', 'age', 'city', 'membership_type', 'total_spend', 'items_purchased', 'average_rating', 'discount_applied', 'days_since_last_purchase', 'satisfaction_level']

## 5. Final Data Quality Check

In [9]:
# Comprehensive quality check
print("="*80)
print("FINAL DATA QUALITY REPORT")
print("="*80)

print(f"\nüìä Dataset Shape: {df_clean.shape}")
print(f"   Rows: {df_clean.shape[0]:,}")
print(f"   Columns: {df_clean.shape[1]}")

print(f"\n‚úÖ Data Quality:")
print(f"   Missing Values: {df_clean.isnull().sum().sum()} (0%)")
print(f"   Duplicate Rows: {df_clean.duplicated().sum()} (0%)")
print(f"   Memory Usage: {df_clean.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

print(f"\nüî¢ Column Types:")
print(df_clean.dtypes.value_counts())

print("\n" + "="*80)
print("‚úÖ Data is clean and ready for feature engineering!")
print("="*80)

================================================================================
FINAL DATA QUALITY REPORT
================================================================================

üìä Dataset Shape: (350, 11)
   Rows: 350
   Columns: 11

‚úÖ Data Quality:
   Missing Values: 0 (0%)
   Duplicate Rows: 0 (0%)
   Memory Usage: 0.10 MB

üî¢ Column Types:
int64      4
object     4
float64    2
bool       1
Name: count, dtype: int64

================================================================================
‚úÖ Data is clean and ready for feature engineering!
================================================================================

In [10]:
# Display sample of cleaned data
print("Sample of cleaned data:")
df_clean.head(10)

Sample of cleaned data:

,customer_id,gender,age,city,membership_type,total_spend,items_purchased,average_rating,discount_applied,days_since_last_purchase,satisfaction_level
0,101,Female,29,New York,Gold,1120.20,14,4.60,True,25,Satisfied
1,102,Male,34,Los Angeles,Silver,780.50,11,4.10,False,18,Neutral
2,103,Female,43,Chicago,Bronze,510.75,9,3.40,True,42,Unsatisfied
3,104,Male,30,San Francisco,Gold,1480.30,19,4.70,False,12,Satisfied
4,105,Male,27,Miami,Silver,720.40,13,4.00,True,55,Unsatisfied
5,106,Female,37,Houston,Bronze,440.80,8,3.10,False,22,Neutral
6,107,Female,31,New York,Gold,1150.60,15,4.50,True,28,Satisfied
7,108,Male,35,Los Angeles,Silver,800.90,12,4.20,False,14,Neutral
8,109,Female,41,Chicago,Bronze,495.25,10,3.60,True,40,Unsatisfied
9,110,Male,28,San Francisco,Gold,1520.10,21,4.80,False,9,Satisfied

## 6. Save Cleaned Dataset

In [11]:
# Save cleaned dataset
OUTPUT_PATH = Path('../data/processed')
OUTPUT_PATH.mkdir(parents=True, exist_ok=True)

# Save as CSV
output_file = OUTPUT_PATH / 'cleaned_customer_data.csv'
df_clean.to_csv(output_file, index=False)

print(f"‚úÖ Cleaned dataset saved to: {output_file}")
print(f"   File size: {output_file.stat().st_size / 1024:.2f} KB")

‚úÖ Cleaned dataset saved to: ..\data\processed\cleaned_customer_data.csv
   File size: 21.20 KB

## 7. Data Cleaning Summary

In [13]:
# Create cleaning summary
summary = f"""
================================================================================
DATA CLEANING SUMMARY
================================================================================

Date: November 7, 2025

ACTIONS TAKEN:
1. Filled 2 missing values in 'Satisfaction Level' with mode ('Satisfied')
2. Verified no duplicates exist (0 duplicates found)
3. Standardized column names to snake_case
4. Verified all data types are appropriate

BEFORE CLEANING:
- Rows: 350
- Missing values: 2 (0.57%)
- Duplicates: 0

AFTER CLEANING:
- Rows: 350 (no data loss)
- Missing values: 0 (100% complete)
- Duplicates: 0 (100% unique)

DATA QUALITY: EXCELLENT

NEXT STEPS:
- Move to Phase 3: Feature Engineering
- Create CLV, RFM, and other derived features

OUTPUT FILE: data/processed/cleaned_customer_data.csv
================================================================================
"""

print(summary)

# Save summary with UTF-8 encoding to handle Unicode characters
summary_file = Path('../reports/data_cleaning_summary.txt')
with open(summary_file, 'w', encoding='utf-8') as f:
    f.write(summary)

print(f"\nSummary saved to: {summary_file}")

================================================================================
DATA CLEANING SUMMARY
================================================================================

Date: November 7, 2025

ACTIONS TAKEN:
1. Filled 2 missing values in 'Satisfaction Level' with mode ('Satisfied')
2. Verified no duplicates exist (0 duplicates found)
3. Standardized column names to snake_case
4. Verified all data types are appropriate

BEFORE CLEANING:
- Rows: 350
- Missing values: 2 (0.57%)
- Duplicates: 0

AFTER CLEANING:
- Rows: 350 (no data loss)
- Missing values: 0 (100% complete)
- Duplicates: 0 (100% unique)

DATA QUALITY: EXCELLENT

NEXT STEPS:
- Move to Phase 3: Feature Engineering
- Create CLV, RFM, and other derived features

OUTPUT FILE: data/processed/cleaned_customer_data.csv
================================================================================


Summary saved to: ..\reports\data_cleaning_summary.txt

## üìù Key Takeaways

### Data Quality: EXCELLENT ‚úÖ

1. **Minimal Cleaning Required**: Only 2 missing values (0.57%)
2. **No Duplicates**: Data is already unique
3. **No Outliers**: All values within reasonable ranges
4. **Appropriate Data Types**: All columns have correct types

### Changes Made:
- Filled 2 missing Satisfaction Level values with mode
- Standardized column names to snake_case
- Saved clean dataset for next phase

### Dataset Ready For:
- ‚úÖ Feature Engineering (Phase 3)
- ‚úÖ Exploratory Data Analysis (Phase 4)
- ‚úÖ Machine Learning (Phase 5)

---

**Phase 2 Status**: ‚úÖ Complete  
**Next Phase**: Feature Engineering (CLV, RFM, AOV, etc.)